.try {
  list-style-type: none;
  margin: 1;
  padding-top: 20px;
  padding-left: 140px;
  width: 300px;
  background-color: none;
}

.border1{
  font-size: 12px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li.active {
  background-color: white;
  border-bottom: 1.5px solid rgb(200,30,30);;
  color: 	rgb(200,30,30);

}


/* Change the link color on hover */
/* li a:hover {
  background-color: #555;
  color: white;
} */
